#logs-grid {
    layout: grid;
    grid-size: 2;
    grid-columns: 1fr 1fr;
    padding: 1;
}

#left-column, #right-column {
    height: 100%;
    border: solid green;
}

LogPanel {
    height: auto;
    margin: 1;
    padding: 1;
    border: solid $accent;
    background: $boost;
} 